body {
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;

  &:hover {
    color: darkslateblue;
  }
}

* {
  box-sizing: border-box;
}
